<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Timespan</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let activity of activities;">
            <td scope="row">{{activity.name}}</td> 
            <td>{{activity.startTime | date: 'shortTime' }}</td> 
            <td>{{activity.endTime | date: 'shortTime' }}
            </td>
            <td>
                {{activity?.timeSpan}}
</td> 
            <td>
                <ng-icon name="bootstrapTrashFill" style="cursor:pointer" size="1.5em" (click)="deleteActivity(activity.id)"></ng-icon>
            </td>
        </tr>
    </tbody>
</table>