<form [formGroup]="activityForm">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Timespan</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody formArrayName="activityArray">
            <ng-container *ngFor="let activityForm of activityArrayControls.controls; let i = index;">
                <tr [formGroupName]="i">
                    <td scope="row">
                        <input type="text"
                            id="activity-name-{{i}}"
                            formControlName="name"
                            (blur)="onBlur(i)"
                        />
                    </td> 
                    <td>
                        <input type="datetime" id="activity-startTime-{{i}}"
                            formControlName="startTime"
                            contentEditable="true"
                            (blur)="onBlur(i)"
                        />
                        <!-- {{activityForm.get('startTime')?.value | date: 'shortTime'}} -->
                    </td>
                    <td>
                        <input type="datetime" id="activity-endTime-{{i}}"
                            formControlName="endTime"
                            contentEditable="true"
                            (blur)="onBlur(i)"
                        />
                        <!-- {{activityForm.get('endTime')?.value | date: 'shortTime'}} -->
                    </td>
                    <td>
                        <input type="number" id="activity-timeSpan-{{i}}"
                            formControlName="timeSpan"
                            contentEditable="true"
                            (blur)="onBlur(i)"
                        />
                        <!-- {{activityForm.get('timeSpan')?.value | timeSpan}} -->
                    </td>
                    <td>
                        <ng-icon name="bootstrapTrashFill" style="cursor:pointer" size="1.5em" (click)="deleteActivity(i)"></ng-icon>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</form>